body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  background-image: url(https://images.pexels.com/photos/6533/landscape-mountains-nature-rock.jpg?w=1260&h=750&auto=compress&cs=tinysrgb);
  background-size: cover;
}
.col-sm-offset-3 { 
    padding: 15px;
    margin-top: 50px;    
    color: #FFF;
    text-shadow: 2px 1px 2px #000;
    background-color: rgba(255,255,255,.3);
    border-radius: 2px; 
}
a {
  font-weight: bold;
  color: #222;
  text-decoration: underline;
  text-shadow: none;
}